body {
  font-family: Arial;
  color: #333;
  padding: 50px;
  line-height: 1.5em;
  background-color: #F0B7AE;
}

#teeth {
  background-image: url("images/start.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  padding: 10px;
}
