body {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  position: relative;
  overflow: hidden;
  max-height: 750px;
}

.infoopen {
  position: absolute;
  right: 25px;
  top: 25px;
}

#infooverlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#infooverlay article {
  box-sizing: border-box;
  background-color: #8ae6ff;
  border-radius: 5px;
  color: #0e1931;
  padding: 20px;
  width: 500px;
  height: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#nooverlay form {
  position: absolute;
  font-family: helvetica;
  left: 25%;
  top: 225px;
  background-color: #e4e5ed;
  padding: 25px 15px;
  border-radius: 10px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 10%;
}

#nooverlay h3 {
  margin: 0;
  border-bottom: 5px solid black;
  font-size: 2em;
}

#nooverlay label {
  font-weight: bold;
}

#nooverlay .flex {
  display: flex;
  flex-direction: row;
  border-bottom: 10px solid black;
}

.flex p:last-of-type {
  margin-left: auto;
}

.nooverlay p {
  margin: 3px 0;
}

.formgroup {
  display: flex;
  flex-direction: row;
}

.formgroup label {
  padding: 0.75em 0.5em 0.5em 0;
  margin-right: 1em;
  flex: 1;
}

.cals {
  font-size: 2.5em;
  font-weight: bolder;
}

input[type="text"] {
  display: block;
  margin: 10px 0;
  border: 1px solid #d6d9dc;
  width: 125px;
}

input[type="text"]:focus {
  border: 1px solid #d6d9dc;
  outline: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type="submit"] {
  background-color: gold;
  margin-top: 25px;
  padding: 5px 5px;
  cursor: pointer;
  border: 1px solid goldenrod;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 5px;
}

.ticket {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 160%);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.showing {
  visibility: visible;
  opacity: 100%;
}

.infohidden {
  visibility: hidden;
  opacity: 0;
}

.infoshowing {
  visibility: visible;
  opacity: 100%;
}

#madlib {
  position: absolute;
  width: 575px;
  top: 425px;
  left: 50%;
  transform: translate(-50%);
  font-family: "Gowun Batang", serif;
  font-weight: 700;
  text-align: center;
  line-height: 1.5;
}

#overlay {
  transition-property: opacity, visibility;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.home {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 75px;
}

.home a {
  text-decoration: none;
  color: #faf1af;
}

.home a:visited {
  color: #faf1af;
}

#overlay h2 {
  position: absolute;
  top: 305px;
  left: 50%;
  transform: translate(-50%);
  font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 5px;
  font-size: 28px;
}

#overlay h3 {
  position: absolute;
  top: 320px;
  left: 50%;
  transform: translate(-50%);
  font-family: "Goudy Bookletter 1911", serif;
  font-style: normal;
  letter-spacing: 15px;
  font-size: 46px;
  min-width: max-content;
}

.close {
  position: absolute;
  top: 625px;
  left: 50%;
  transform: translate(-50%);
  background-color: #102F2C;
  border-radius: 5px;
  padding: 10px 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  color: #e4e5ed;
  width: max-content;
}

.close a {
  text-decoration: none;
}

.close a:visited {
  color: #e4e5ed;
}

.transition img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
